---
name: home
controller: DateController
url: /
animationIn: fadeIn
---

<div class="grid-container">
  <div class="grid-block">
    <div class="grid-content medium-8">
      <br>
      <h2>Upcoming Events</h2>
      <h3 class="subheader">See all of our upcoming events!</h3>
    </div>
    <div class="grid-content sorting medium-4">
      <ul class="button-group segmented">
        <li ng-click="sort('asc')" ng-class="{'is-active': !reverseSort}"><a href="#">Oldest - Newest</a></li>
        <li ng-click="sort('desc')" ng-class="{'is-active': reverseSort}"><a href="#">Newest - Oldest</a></li>
      </ul>
    </div>
  </div>
  <div class="grid-block">
    <div class="grid-content">
      <hr>
    </div>
  </div>
  <div class="grid-block medium-up-3 small-up-1">
    <div class="grid-content" ng-repeat="event in events | orderBy: unixTime : reverseSort">
      <div class="dark card" ng-class="{cancelled: event.cancelled}">
        <img src="http://placehold.it/300x250">
        <div class="quick-nav">
          <a href="#"><img zf-iconic icon="cog" size="small" class="iconic-color-secondary"></a>
        </div>
        <div class="card-divider">
          <strong>{{timeToNow(event)}}</strong>
          <span class="float-right">
            <img zf-iconic="" icon="person" size="small" class="iconic-color-secondary">
            <span class="icon-label">{{event.invited_count}} Invited</span>
          </span>
        </div>
        <div class="card-section">{{event.occasion}} <span class="warning label float-right" ng-if="event.cancelled">Canceled</span></div>
      </div>
    </div>
  </div>
</div>
